.formContainer {
    padding-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    justify-self: center;
    background-color: #000107;
}

.formSectionTitle {

}

.formField {
    gap: 1rem;
}

.formSectionContainer {
    @apply formField;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.formFieldText {
    @apply formField;
    width: 160%;
    max-width: 200%;
    transform: translateX(-20%)
}

.formIncrementTable {

}

.formIncrementTableTitle {
    justify-self: left;
    transform: translateX(3.75rem);
    font-size: 1rem;
}

.formIncrementTableContainer {
    display: inline-flex;
    justify-content: center;
}

.formIncrementer {
    max-width: 15%;
    justify-items: center;
    padding-right: 1rem;
}

.formIncrementerIcon {

}

.formIncrementerInput {
    max-width: 100%
}

.formIncrementerPlus {
    @apply formIncrementerIcon
}

.formIncrementerMinus {
    @apply formIncrementerIcon
}