name: Workflow to deploy SuperAlliance UI to S3
on:
  push:
    branches:
      - main
    paths:
      - 'app/**'
      - '.github/workflows/superalliance-ui-workflow.yml'
  workflow_dispatch: # this enables you to manually trigger the build
  
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      CI: false
      VITE_CLERK_PUBLISHABLE_KEY: ${{ secrets.VITE_CLERK_PUBLISHABLE_KEY }}
      VITE_API_URL: ${{ secrets.VITE_API_URL }}
      CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}

    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout

    strategy:
      matrix:
        node-version: [24]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: 'npm'
          cache-dependency-path: app/package-lock.json

      - name: Install dependencies
        run: npm install
        working-directory: app

      - name: Build
        run: npm run build
        working-directory: app

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          role-to-assume: arn:aws:iam::738044534240:role/superalliance-api-github-actions-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Sync to AWS S3
        run: |
          aws s3 sync \
          app/dist \
          s3://${{ secrets.S3_BUCKET }} \
          --no-progress \
          --delete \
          --cache-control "public, max-age=1200, s-maxage=86400, must-revalidate"

      - name: Invalidate Cloudfront Cache
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths '/*'