name: Workflow to deploy SuperAlliance API to AWS Lambda & API Gateway
on:
  push:
    branches:
      - main
    paths:
      - 'api/**'
      - '.github/workflows/superalliance-api-workflow.yml'
  workflow_dispatch: # this enables you to manually trigger the build
  
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      CI: false

    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout

    strategy:
      matrix:
        node-version: [24]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: 'npm'
          cache-dependency-path: api/package-lock.json

      - name: Install Claudia.js
        run: npm install claudia -g

      - name: Install dependencies
        run: npm install
        working-directory: api

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          role-to-assume: arn:aws:iam::738044534240:role/superalliance-api-github-actions-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy
        run: |
          claudia update \
            --runtime nodejs22.x \
            --region ${{ env.AWS_REGION }} \
            --set-env \
              CLERK_PUBLISHABLE_KEY=${{ secrets.CLERK_PUBLISHABLE_KEY }},\
              CLERK_SECRET_KEY=${{ secrets.CLERK_SECRET_KEY }},\
              MONGODB_URI='${{ secrets.MONGODB_URI }}',\
              ROBOT_IMAGE_BUCKET=${{ secrets.ROBOT_IMAGE_BUCKET }},\
              ROBOT_IMAGE_DISTRO=${{ secrets.ROBOT_IMAGE_DISTRO }},\
              TBA_KEY=${{ secrets.TBA_KEY }}
        working-directory: api
